.chips-demo .mat-chip-list-stacked {
  display: block;
  max-width: 200px; }

.chips-demo .mat-card {
  padding: 0;
  margin: 16px; }
  .chips-demo .mat-card .mat-toolbar {
    margin: 0; }
  .chips-demo .mat-card .mat-card-content {
    padding: 24px; }

.chips-demo .mat-basic-chip {
  margin: auto 10px; }

.chips-demo mat-chip-list input {
  width: 150px; }

.has-chip-list {
  width: 100%; }
